.consulta-detallada label {
    float: none !important;
    font-weight: bold !important;
    width: auto !important;
    padding: 3px !important;
}

/*.item_menu {
padding-bottom: 0px !important;
padding-top: 0px !important;
}*/

ul li a div.ztexto-lista {
    padding: 0px 7% 0px 0% !important;
    position: relative !important;
    top: 0% !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2) !important;
}

ul li a div.ztexto-lista img{
    float: left;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
ul li a div.ztexto-lista h3{
    padding-left: 32%;
}
ul li a div.ztexto-lista p{
    padding-left: 32%;
}

ul li a div {
    font-size: 10pt;
}

ul li a div h3 {
    color: cornflowerblue;
    font-size: 15pt;
}

#afui .list > li > a {
    padding: 2% 2% 2% 2% !important;
}

.tabs ul li{
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
}

.tabs ul {
    display: table;
    width: 100%;
}

.tabs ul li a{
    /*    background-color: #f6f6f6;*/
    background-color: rgba(0, 128, 247, 0.81);
    /*    border-color: #ddd;*/
    border-color: #FFF;
    /*    color: #333;*/
    color: #FFF;
    /*    text-shadow: 0 1px 0 #f3f3f3;*/
    text-shadow: 0 1px 0 #000000;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none!important;
    border-width: 1px;
    border-style: solid;
    display: block;
    font-weight: bold;
}

.tabs {
    position: relative;
    padding: 0px;
    line-height: 2;
    display: block;
    margin-bottom: 10px;
}

.tabs #selectedTab div{
    display: block;
    position: relative;
}

.tabs .activeTab{
    background-color: #38c;
    border-color: #38c;
    color: #fff;
    text-shadow: 0 1px 0 #059;
}

#afui .header h1 {
    width: 60%;
    left: 20%;
    padding: 0.2% 0;
}

.titulosNominalEstablecimiento {
    font-weight: bold;
    font-size: large;
}

.titulosNominalEstablecimiento {
    margin-bottom: 10px;
}

#afui > #menu.tabletMenu {
    width: 120px;
}

#afui div#content .tabPanelViewClass {
    padding-left: 0px;
    padding-right: 0px;
}

.selectedTab {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

span.prestacionesTabViewClass {
    font-size: 0.75em;
}

#afui .menuButton {
    float:right !important;
}

.zimagen_header {
    max-width:100%;
    max-height:90%;
}

.ztel {
    padding-left: 62px;
}


/*CSS PARA EL SLIDER:      */
#owl-demo .zslider-item {
    display: block;
    width: 100%;
    height: auto;
    font-size: 0.9em;
}

.footer {
    height: 13% !important;
    border-top: 1px !important;
    box-shadow: 0px 0px 20px!important;
}

footer#zfooter_noticias {    
    -webkit-box-shadow: black 0px 5px 20px 5px !important;
}

a.button.icon.close {
    float: right;
}